.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.home .about {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--pri-gray);
  padding: 50px 50px 0;
}

.home .about .left-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  width: 50%;
}

.home .about .right-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 50%;
  padding-bottom: 20px;
}

.home .about .right-container .text-container h1 {
  font-size: 300%;
}

.home .about .right-container .education-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home .about .right-container .education-container .education-content {
  display: flex;
  flex-direction: row;
  font-size: small;
  gap: 1%;
}

.home .about .right-container .education-container .education-content span {
  font-size: large;
}

.home .projects {
  width: 100%;
  background-color: var(--white);
  padding: 50px;
}

.home .technologies {
  width: 100%;
  background-color: green;
  padding: 50px;
}

.home .contact {
  width: 100%;
  background-color: yellow;
  padding: 50px;
}
