.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.home .sec-title {
  color: var(--pri-gray);
  font-size: 2.5rem;
}

.home section[id] {
  scroll-margin-top: 50px;
}

.home section h1 {
  font-weight: 800;
}

.home .about {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--pri-gray);
  padding: 2vh 20vw 0;
  gap: 5vh;
}

.home .about .left-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  width: 45%;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.home .about .right-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 55%;
  padding-bottom: 6vh;
}

.home .about .right-container .text-container h1 {
  font-size: 300%;
  line-height: 100%;
}

.home .about .right-container .text-container p {
  text-align: justify;
}

.home .about .right-container .education-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.home .about .right-container .education-container .education-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  gap: 1%;
}

.home
  .about
  .right-container
  .education-container
  .education-content
  .education-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 5px;
}

.home
  .about
  .right-container
  .education-container
  .education-content
  .education-icon
  img {
  width: 30px;
}

.home
  .about
  .right-container
  .education-container
  .education-content
  .education-infos
  h5 {
  font-size: medium;
}

.home .projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: var(--white);
  padding: 8vh 15vw;
  gap: 6vh;
}

.home .projects h1 {
  font-size: 60px;
}

.home .projects .btn {
  margin: 0 25vw;
  padding: 2%;
}

.home .technologies {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: var(--white);
  padding: 0 15vw;
  gap: 6vh;
}

.home .technologies h1 {
  font-size: 60px;
}

.home .technologies .tec-icon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 0 auto;
}

.home .technologies .tec-icon-container > div {
  transition: transform 0.3s ease-in-out;
}

.home .technologies .tec-icon-container > div:hover {
  transform: scale(1.2);
}

.home .contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: var(--white);
  padding: 8vh 15vw;
  gap: 1vh;
}

.home .contact h1 {
  margin-bottom: 3vh;
  font-size: 60px;
}

.home .contact h2 {
  font-size: 40px;
  margin-bottom: 3vh;
}

.home .contact .btn {
  margin: 0 25vw;
}

.home .contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pri-gray);
  border-radius: 16px;
  padding: 4vh 0;
  margin: 0 3vw;
}

.home .contact .contact-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10vw;
  gap: 2vh;
}

.home .contact .contact-form form input,
textarea {
  padding: 1.5% 4%;
  border-radius: 16px;
  border: none;
  resize: none;
  font-size: medium;
}

.home .contact #wppBtn:hover {
  background-color: var(--green);
}

.home .contact #linkedinBtn:hover {
  background-color: var(--blue);
}

.home .contact .contact-form form .btn {
  margin: auto;
  padding: 2% 0;
  width: 50%;
  background-color: var(--white);
  color: var(--black);
}

.home .contact .contact-form form .btn:hover {
  background-color: var(--ter-gray);
}

@media (max-width: 1366px) {
  .home .technologies .tec-icon-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .home .projects h1 {
    font-size: 40px;
  }

  .home .technologies h1 {
    font-size: 40px;
  }

  .home .contact h1 {
    font-size: 40px;
  }

  .home .contact .contact-form h2 {
    font-size: 20px;
  }
  
  .home .about .left-container {
    display: none;
  }

  .home .about .right-container {
    width: 100vw;
  }

  .home .about .right-container .text-container {
    text-align: center;
  }
}

@media (max-width: 520px) {
  .home .projects h1 {
    font-size: 30px;
  }

  .home .technologies h1 {
    font-size: 30px;
  }

  .home .contact h1 {
    font-size: 30px;
  }
  
  .home .about {
    justify-content: center;
  }

  .home .about .right-container .text-container h1 {
    font-size: 40px;
  }

  .home .projects {
    padding: 8vh 0;
  }
}

@media (max-width: 464px) {
  .home .about {
    width: 100vw;
    padding: 0;
  }

  .home .sec-title {
    font-size: 2rem;
  }

  .home .about {
    padding: 2vh 10vw;
  }

  .home .about .right-container .text-container h1 {
    font-size: 150%;
  }

  .home .about .right-container .text-container p {
    font-size: small;
  }

  .home .about .right-container .education-container .education-content {
    margin-right: 6vw;
  }

  .home
    .about
    .right-container
    .education-container
    .education-content
    .education-infos {
    font-size: 10px;
  }

  .home
    .about
    .right-container
    .education-container
    .education-content
    .education-infos
    h5 {
    font-size: 11px;
  }

  .home .projects {
    padding: 8vh 0;
  }

  .home .projects .btn {
    margin: 0 20vw;
    padding: 4%;
  }

  .home .technologies .tec-icon-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .home .contact {
    padding: 8vh 6vw;
  }

  .home .contact .btn {
    margin: 0 10vw;
    padding: 4%;
  }

  .home .contact .contact-form {
    padding: 4vh 0;
    margin: 0;
  }

  .home .contact .contact-form form {
    width: 100%;
    padding: 0 6vw;
    gap: 2vh;
  }

  .home .contact .contact-form form input,
  textarea {
    padding: 4%;
    border-radius: 8px;
  }

  .home .contact .contact-form form .btn {
    padding: 4%;
    border-radius: 12px;
  }
}
