.header {
  position: sticky;
  z-index: 9998;
  top: 0;
  width: 100%;
  font-size: small;
  font-weight: bold;
  background-color: var(--pri-gray);
}

.header-nav ul {
  padding: 0 20%;
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
}

.header-nav li,
.nav-link {
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 6vh;
  align-content: center;
  border-radius: 0 0 16px 16px;
  transition: 0.2s background;
  color: var(--white);
  text-decoration: none;
}

/* EFEITO PARA O TOQUE */
.header-nav li:active {
  text-shadow: 0px 0px 10px red; /* Mude para VERMELHO */
}

/* EFEITO DE HOVER (apenas para desktop) */
@media (hover: hover) {
  .header-nav li:hover {
    text-shadow: 0px 0px 10px blue; /* Mude para AZUL */
  }
}

@media (max-width: 464px) {
  .header {
    font-size: xx-small;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  .header-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    gap: 0;
  }
}
