.header {
  position: sticky;
  z-index: 9999;
  top: 0;
  font-size: small;
  font-weight: bold;
  background-color: var(--pri-gray);
}

.header-nav ul {
  padding: 0 20%;
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  gap: 10%;
}

.header-nav li, .nav-link {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 1.2%;
  border-radius: 0 0 16px 16px;
  transition: 0.2s background;
  color: var(--white);
  text-decoration: none;
}

.header-nav li:hover {
  background-color: var(--sec-gray);
  text-shadow: 0px 0px 10px var(--white);
}

@media (max-width: 464px) {
  .header {
    font-size: xx-small;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  .header-nav ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5% 0;
    width: 100%;
    gap: 0;
  }

  .header-nav li {
    padding: 0;
    margin: auto;
  }
}
