.react-multi-carousel-dot-list {
  position: relative !important;
  bottom: auto !important;
  margin-bottom: 0 !important;
}

.carousel-wrapper {
  width: 100%;
  position: relative;
}

.carousel-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  z-index: 10;
  pointer-events: none;
}

.carousel-shadow.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

.carousel-shadow.right {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
}
