@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --pri-gray: #1e1e1e;
  --sec-gray: #333;
  --ter-gray: #afafaf;
  --black: #000;
  --white: #fff;
  --pri-red: #ff4747;
  --sec-red: #ce4444;
  --green: #25d366;
  --blue: #0e76a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
